<!DOCTYPE html>
﻿<html lang="en" class="en">

<head>
  <title>Download Snapchat Memories</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="description" content="Download Snapchat Memories"/>
  <link rel=" stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="alternate" hreflang="x-default" href="https://snapsaver.azurewebsites.net" />

  <link rel="canonical" href="https://snapsaver.azurewebsites.net">
  <link rel="icon" href="{{ url_for('static', filename='images/snap-orange-90.png') }}"  type="image/png" />
  <meta name="theme-color" content="#604F94">
  <meta name="msapplication-navbutton-color" content="#604F94">
  <meta name="apple-mobile-web-app-status-bar-style" content="#604F94">
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-6381921-18');
  </script>

</head>

<body class="is-preload">

  <!-- Wrapper -->
  <div id="wrapper">
    <style>
      #header.alt h1 {
        color: rgba(255, 255, 255, .65);
        font-size: 1.25em;
        margin: 0 0 2em;
        line-height: 1.65
      }

      #storysavehome {
        font-size: 3.25em;
        color: #fff;
        line-height: 1.5;
        letter-spacing: -.025em
      }

      @media screen and (max-width: 736px) {
        #header.alt h1 {
          color: rgba(255, 255, 255, .65);
          font-size: 1.2em;
          margin: 0 0 2em;
          line-height: 1.65
        }

        #storysavehome {
          font-size: 2.5em;
          color: #fff;
          line-height: 1.5;
          letter-spacing: -.025em
        }
      }
    </style>
    <!-- Header -->
    <header id="header" class="alt">
      <div style="width:100%;display:inline">
        <span class="logo"><a href="https://snapsaver.azurewebsites.net/"><img src="{{ url_for('static', filename='images/snap-white-90.png') }}" alt="" /></a></span>
        <div id="storysavehome">snap saver</div>
      </div>
      <h1>Download and backup your memories from Snapchat with ease.<br />
        Emailed to you to store locally.</h1>
    </header>

    <!-- Nav -->
    <!-- <nav id="nav"> -->
      <!-- <ul> -->
        <!-- <li><a href="#first">Download Instagram Stories</a></li> -->
        <!-- <li><a href="#first">Download Instagram Highlights</a></li> -->
        <!-- <li><a href="#howto">How to download memories?</a></li> -->
        <!-- <li><a href="#data">How to download memories?</a></li> -->
      <!-- </ul> -->
    <!-- </nav> -->

    <!-- Main -->
    <div id="main">
      <!-- Get Started -->
      <section id="howto" class="main special">
        <header class="major">
          <h2>How to download memories?</h2>
          <!-- <p>Download instagram storys or story archive (#highlists)</p> -->

        </header>
        <footer class="major">
          <ul class="actions special">
            <p>1. <a href="https://support.snapchat.com/en-US/a/download-my-data" target="_blank">Download your data from Snapchat.</a></p>
            <p>2. After receiving an email with "mydata" ZIP file, download and unzip it. </p>
            <p>3. In the "json" folder, find "memories_history.json" and upload below.</p>
            <p>4. Enter your email and click "Download"! You'll receive your memories when the download is ready.</p>
          </ul>
          <ul class="actions special">
            <li><a href="#first" class="button primary">Get Started</a></li>
          </ul>
        </footer>
      </section>
      <!-- First Section -->
      <section id="first" class="main special">
        <center>
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- stroysaverkare -->
          <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1728931006040204" data-ad-slot="7267217988" data-ad-format="auto" data-full-width-responsive="true"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </center>
        <header class="major">
          <h2>Download Snapchat Memories</h2>
        </header>
        <ul class="features">
          <li>
            <form method=post enctype=multipart/form-data id="StoryData">
              <div class="file-drop-area">
                <span class="fake-btn">Choose file</span>
                <span class="file-msg">or drag and drop file here</span>
                <input class="file-input" type=file name=file accept="application/JSON" required>
              </div>

              <input type="text" name="text" type="email" placeholder="Enter your email" required>
              <input type="hidden" name="rpt" id="rptid">
              <div style="margin-top:25px"> <input value="Download" class="button primary" id="StoryButton" type="submit"></div>
            </form>
          </li>

        </ul>
        <!-- <div id="yuk" style="margin: 0 auto;"><br /><br /><br /></div> -->
        <div id="sonucc" style="margin: 0 auto"></div>


        <!-- <footer class="major">
          <ul class="actions special">
            <li><a href="#howto" class="button">Need help?</a></li>
          </ul>
        </footer> -->
      </section>


      <!-- Get Started -->
      <!-- <section id="howto" class="main special">
        <header class="major">
          <h2>How to download memories?</h2>
          <p>Download instagram storys or story archive (#highlists)</p>

        </header>
        <footer class="major">
          <ul class="actions special">
            <p>1. Follow Snapchat's instructions to <a href="https://support.snapchat.com/en-US/a/download-my-data" target="_blank">download your data.</a></p>
            <p>2. After receiving the email with "mydata" ZIP file, download and unzip it. </p>
            <p>3. In the "json" folder, locate "memories_history.json" and upload to file drop box above.</p>
            <p>4. Enter your email and click "Download". You'll receive an email with your memories once ready.</p>
          </ul>
          <ul class="actions special">
            <li><a href="#first" class="button primary">Get Started</a></li>
          </ul>
        </footer>
      </section> -->
    </div>

    <!-- Footer -->
    <footer id="footer">
      <section>
        <h2>About the Snapchat Memories Downloader</h2>
        <p>Simple way to download mass download all of your snapchat memories. <br />Features include:
          <ul>
            <li>Memories emailed to you in a ZIP folder once the download is complete</li>
            <li>Download contains: memories folder; log of unsuccessful downloads</li>
            <li>Photos and videos categorized by year and month</li>
            <li>Naming scheme: Snapchat-YYYY-MM-DD_HH-MM-SS</li>
            <!-- <li>Free!</li> -->
            <!-- <li>- Duplicated files ignored</li> -->
          </ul>
        </p>
        <!-- <ul class="actions">
          <li><a href="#howto" class="button">Learn More</a></li>
        </ul> -->
      </section>
      <section>
        <h2>Contact</h2>
        <dl class="alt">
          <!-- <dt>Address</dt>
          <dd>918 Richards Avenue &bull; Modesto, CA 95354 &bull; USA</dd>
          <dt>Phone</dt>
          <dd>(+1) 209-819-5165</dd> -->
          <dt>Email</dt>
          <dd><a href="mailto:downloadersnapchat@gmail.com">downloadersnapchat[@]gmail.com</a></dd>
        </dl>
        <ul class="icons">
          <!-- <li><a href="#" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li> -->
          <!-- <li><a href="#" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li> -->
          <!-- <li><a href="#" class="icon fa-instagram alt"><span class="label">Instagram</span></a></li> -->
          <li><a href="https://github.com/addissemagn/snapsaver" style="text-decoration: none;" ><i class="icon alt fab fa-github"></i></a></li>
          <!-- <li><a href="#" class="icon fa-dribbble alt"><span class="label">Dribbble</span></a></li> -->
        </ul>
      </section>
      <p class="copyright"> Made by <a href="https://github.com/addissemagn/">Addis Semagn</a></p>

    </footer>
  </div>

  <!-- Scripts -->
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/util.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.scrollTo.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/mainfunction20919.js') }}"></script>


  <script src="https://www.google.com/recaptcha/api.js?render=6LdqlrMUAAAAAHg2nEfnnT6_SKXfxuKp_ppZA-L8"></script>


</body>

</html>
