
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #F39F86;
  background: linear-gradient(to right, #FFE884, #F39F86);
  color: #403F3B;
  font-family: 'Lato', sans-serif;
  /* top: 50%;
  left: 50%;
  height: 100%; */
}

h2 {
  margin: 50px 0;
}

section {
  flex-grow: 1;
}

/* form {
  position: relative;
} */


.file-drop-area {
  position: relative;
  display: flex;
  align-items: center;
  width: 450px;
  max-width: 100%;
  padding: 25px;
  border: 1px dashed rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  transition: 0.2s;
  &.is-active {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.fake-btn {
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.fake-btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
}


.outer {
  position: relative;
  padding: 10px;
  /* text-align: center;
   /* */
   /* display: flex;
   align-items: center; */ */
}

/* .outer img {
  text-align: center;
} */

.btn {
  /* flex-shrink: 0; */
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  padding: 8px 15px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  text-transform: uppercase;
  justify-content: center;
}

.textbox {
  /* flex-shrink: 0; */
  position: absolute;

  background-color: rgba(255, 255, 255, 0.0);
  border: 1px dashed rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  padding: 8px 25px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 12px;
  /* text-transform: uppercase; */
  width: 450px;
  /* padding-left: 10px; */
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.file-msg {
  font-size: small;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  &:focus {
    outline: none;
  }
}

footer {
  margin-top: 50px;
  /* color: rgba(0, 0, 255, 0.4); */
  font-weight: 300;
  font-size: 13px;
  text-decoration: none;
}

.logo {
  height: 60px;
  width: auto;
  opacity: 80%;
  justify-content: center;
  text-align: center;
}

.center {
  text-align: center;
}
